# ───────────────────────────────────────────────────────
#  airflow/.env.example
#  Cópia este arquivo como .env e preencha os valores
#  cp .env.example .env
# ───────────────────────────────────────────────────────

# ── S3 / Floci (LocalStack) ─────────────────────────────
S3_ENDPOINT=http://host.docker.internal:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_REGION=us-east-1
BUCKET_NAME=dataset-project
CSV_FILE_KEY=styles_sample.csv

# ── Snowflake ───────────────────────────────────────────
SNOWFLAKE_USER=FOX
SNOWFLAKE_ACCOUNT=SFEDU02-GFB24387
SNOWFLAKE_ROLE=TRAINING_ROLE
SNOWFLAKE_WAREHOUSE=FOX_WH
SNOWFLAKE_DATABASE=FOX_DB
SNOWFLAKE_SCHEMA=RAW_FASHION
SNOWFLAKE_TABLE_RAW=PRODUCTS_RAW

# Caminho absoluto (dentro do container) para a chave privada RSA
SNOWFLAKE_PRIVATE_KEY_PATH=/usr/local/airflow/include/rsa_key.p8

# ── dbt ─────────────────────────────────────────────────
DBT_PROJECT_DIR=/usr/local/airflow/include/dbt/floci_dbt
DBT_PROFILES_DIR=/usr/local/airflow/include/.dbt

# ── Airflow ─────────────────────────────────────────────
AIRFLOW__CORE__DAG_OWNER=leandro